<?php
//local config file for accessing the Database
//be sure to NEVER upload this file to github
//only share the config.php.dist file with placeholder values
define('HOST',  '**localhost name here**');
define('USERNAME', '**username here**');
define('PASSWORD', '**password here**');
define('DATABASE', '**database name here**');

//in order to use this file, remove the .dist extension


